
<h1>Tweet一覧</h1>
  
  <table class="table">
    <% @tweets.each do |f| %>
      <tr>
        <td class="list1"><%= f.content %></td>
        <td class="list2"><%= link_to "全文確認", tweet_path(f.id) %></td>
        <td class="list2"><%= link_to "編集", edit_tweet_path(f.id) %></td>
        <td class="list2"><%= link_to "削除", tweet_path(f.id), method: :delete, data: {confirm: "削除して宜しいですか？"} %></td>
      </tr>
    <% end %>
  </table>
